/* Using Tailwind CSS utilities */

.b .c {
  background-color: white;
}
.a .box {
  background-color: green;
}
.a .b {
  background-color: black;
}
.a .c {
  background-color: red;
}
.box {
  background-color: blue;
}

div {
  margin: 1px solid black;
}
